body{
    background-color: aquamarine;
}.Resume{
    background-color: black;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: honeydew;
}
.RSubsection {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: black solid 1px;
}
.MyName{
    text-align: center;

}
